* {
    margin: 0;
    padding: 0;
}

body{
    background-color: bisque;
}

form{
    width: 300px;
}

input{
    width:100%;
}

textarea{
    resize: vertical;
    max-height: 300px;
}

input, textarea {
    outline: none;
    border: 1px solid gold;
}

.text:focus{
    box-shadow: 0 0 4px red;
    border: 1px solid red;
}

::placeholder {
    color: red;
    opacity:1;
}

:-ms-input-placeholder {
    color: red;
}

::-ms-input-placeholder {
    color: red;
    opacity:1;
}
